.el-submenu .el-menu-item {
    padding-left: 50px !important;
    &.is-active {
        color: white;
        background-color: rgba(245, 108, 108, .3) !important;
    }
}
.el-submenu.is-active .el-submenu__title {
    background-color: $navMenuBackGroundColor !important;
}
.el-table td, .el-table th.is-leaf  {
    text-align: center;
}
.el-table--enable-row-transition .el-table__body td  {
    text-align: center;
}
.el-table-column--selection .cell {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.el-dialog__body {
    padding-bottom: 0 !important;
}